// size
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-sm {
  padding: 3px 5px;
  border-radius: 2px;
  @include box-shadow(1px, 1px, 4px, 0.25);
}

.btn-md {
  padding: 5px 7px;
  border-radius: 4px;
  @include box-shadow(2px, 2px, 4px, 0.25);
}

.btn-lg {
  padding: 9px 11px;
  border-radius: 4px;
  @include box-shadow(2px, 2px, 4px, 0.25);
}

// color
.btn-light {
  color: $color-level2;
  background-color: $color-level1;
}

.btn-medium {
  color: $color-level12;
  background-color: $color-level2;
}

.btn-dark {
  color: $color-level12;
  background-color: $color-level2;
}